:root{
  --section_padding: 15px 0;
  --black: #222222;
}

html, body, #root{
  min-height: 100vh;
}

#root{
  display: grid;
  grid-auto-rows: auto 1fr auto;
}

.App {
  text-align: center;
}

header, footer{
  padding: var(--section_padding);
  background: var(--black);
}

.App-header {
  color: white;
  margin: 0;
}

header, main, footer{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.aside_nav{
  padding-left: 15px;
}

.nav_list{
  list-style: none;
  padding: 0;
}

.nav_list_link{
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
  display: block;
}

.inputgrp {
  display: block;
  margin: 10px 0;
}

input{
  margin: 0 5px;
}

footer{
  margin-top: auto;
}

.copyright{
  color: #ffffff;
}

@media only screen and (max-width:991px){
  header, main, footer{
    grid-template-columns:1fr;
  }
  main{
    padding:15px;
  }
  .nav_list_item{
    display: inline-block;
    padding-right: 10px;
  }
}