:root{
  --section_padding: 15px 0;
  --black: #222222;
  --padding_std: 15px;
}

html, body, #root{
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root{
  display: grid;
  grid-auto-rows: auto 1fr auto;
}

.App {
  text-align: center;
}

header, footer{
  padding: var(--section_padding);
  background: var(--black);
}

.App-header {
  color: white;
  margin: 0;
}

header, main{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows:auto 1fr auto;
}

label{
  display: block;
}

// .nav_link{
//   padding-left: 15px;
// }

.nav_list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav_list_link{
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 10px 10px var(--padding_std);
  display: block;
  text-decoration: none;
  color:var(--black)
}

.nav_list_link.active{
  color:red;
  text-decoration: underline;
}

.nav_list_link:hover{
  background-color: var(--black);
  color: white;
  text-decoration: underline;
}

.center_section{
  padding:var(--padding_std);
}

.game_form{
  display: block;
}

.stats_aside{
  padding:var(--padding_std);
}

footer{
  margin-top: auto;
  padding:var(--padding_std);
}

.copyright{
  color: #ffffff;
}

@media (max-width:991px){
  header, main{
    grid-template-columns:1fr;
  }
  header{
    padding:var(--padding_std);
  }
  .nav_list_item{
    display: inline-block;
  }
  .nav_list_link{
    padding:var(--padding_std);
  }
}